h1{
	font-size: 250%;
	font-weight: bold;
	color: purple
	}

body{
	background: pink;
	color: dark purple;
	font-family: 'Indie Flower', cursive;
	font-size: 150%;
	}
	
a {
	color: blue;
	text-decoration: none
}

a:hover{
	color: green
}

nav li{
	display: inline-block;
	border: 2px darkpurple;
	background: white; 
	padding: 24px darkblue
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}